name: CI

#--------------------------------------------------
# Workflow Triggers
#--------------------------------------------------
on:
  push:
    tags: ["v*"]
    branches: ["main"]
  pull_request:
    branches: ["main"]

#--------------------------------------------------
# Concurrency Control
#--------------------------------------------------
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

#--------------------------------------------------
# Jobs
#--------------------------------------------------
jobs:
  build:
    name: Build
    uses: ./.github/workflows/rust-build.yml
    with:
      rust-toolchain: "stable"
      packages: "tuic-server,tuic-client"
      target-config-file: ".github/target.toml"
      rustflags: "-Zthreads=8"

  release:
    name: Release
    needs: [build]
    uses: ./.github/workflows/release-publish.yml
    with:
      cliff-config: '.github/cliff.toml'

  docker:
    name: Docker
    needs: [build]
    uses: ./.github/workflows/docker-publish.yml
    secrets:
      dockerhub-username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      docker-file: '.github/Dockerfile'
      image-name: 'tuic-server'
      platforms: 'linux/amd64,linux/arm64'
      binary-dir: './docker-bins'
      server-binary-amd64: 'tuic-server-x86_64-linux-musl'
      server-binary-arm64: 'tuic-server-aarch64-linux-musl'
